

p {

color:greenyellow !important;
font-size: 20px;

}

h1{

color: white;
font-size: 30px;
text-align: center;

}

#orange {

color:orange;

}

.apbleu {
color:blue;
font-size: 25px;
text-align: center;

}


.apfondrouge {

    background-color: crimson !important;

}

